    .title{font-size:xx-large; font-family:黑体;}
    .subtitle{font-family:幼圆;}
    
    .contentTile{font-family:黑体;font-size:x-large;color:Black;}
    .contentTile:hover {color: red;text-decoration:none;}
    .content{text-indent:29px;height:100px;overflow:hidden;overflow-x:hidden;}
    .foota{color:White;}
    .navbar {overflow: hidden}
